
.concerns {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 3rem;
    padding: 3rem;
  
    &__img {
      height: 10rem;
      width: 10rem;
    }
    &__header {
      font-size: 2rem;
      margin-top: 2.5rem;
  
  
      &__card{
        height: 300px;
        display: flex;
        justify-content: space-between;
      }
    }
  
    &__title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 10rem;
      padding: 0;
      // align-items: baseline;
      // margin: .5rem 0;
  
      &--history {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
  
        &--label {
          align-items: center;
          margin: .5rem auto .25rem;
          color: grey;
        }
      }
  
      &--label {
        font-size: .75rem;
        margin-right: 1rem;
        color: grey;
      }
    }
  
    &__input {
      font-size: 1rem;
      color: white;
      text-align: center;
      line-height: 1.5rem;
  
      &--moon {
        font-size: 1.25rem;
        color: white;
        margin-top: 110%;
      }
    }
  }
  
  .slide-container {
    display: flex;
    align-items: center;
    max-width: 80rem;
    overflow-y: auto;
  }
  
  .single-item-container {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    height:20rem;
  }
  
  .items-container {
    display: flex;
    overflow-y: hidden;
    justify-content: flex-start;
    margin-right: 5px;
    margin-left: 15px;
    padding: 0;
  }
  
  .items-container::-webkit-scrollbar {
    display: none;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .css-11qr2p8-MuiButtonBase-root-MuiButton-root {
    background-color: blue !important;
  }

  .css-46bh2p-MuiCardContent-root{
    padding: 0;
  }  
  .moon-size {
    margin-top: 1rem;
    text-align: flex-start;
  
    &-history {
      margin-top: .5rem;
      text-align: flex-start;
    }
  }
  
  .carousel__container {
    display: flex;
    justify-content: center;
  }
  
  .planet__header {
    text-align: center;
    padding-top: 3rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
  
    &__title {
      font-size: 3rem;
      text-align: flex-start;
    }
  }
  
  .no-moons {
    font-size: 3rem;
    text-align: flex-start;
  }
