
@import "~bootstrap/scss/bootstrap";

a:link {
  color: rgb(169, 9, 49);
  text-decoration: underline;
}

a:visited {
  color: rgb(169, 9, 49);
  text-decoration: none;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: rgb(248, 173, 173)smoke;
}
