
@import "~bootstrap/scss/bootstrap";

a:link {
  color: rgb(241, 27, 80);
  text-decoration: none;
  font-weight: 500;
  
}

a:visited {
  color: rgb(241, 27, 80);
  text-decoration: none;
  font-weight: 500;

  
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: rgb(248, 173, 173)smoke;
}
